{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-column align-items-center " style="min-height: calc(100vh - 50px); padding-top: 50px;">

  <h1 class="text-center fw-bold vividblue mb-1 poppins" style="font-size: 4rem;">Lemmatica</h1>
  <p class="text-center black fw-bold fs-3 mb-5 poppins">LANGUAGE LEARNING MADE SIMPLE.</p>

  <div class="d-flex flex-column flex-md-row gap-5 justify-content-center">
    <a href="{{ url_for('cards.cards') }}" class="btn bg-royalblue rounded-square p-5 text-center fw-bold vividblue mx-3">
      ALL CARDS
    </a>
    <a href="{{ url_for('sets.sets') }}" class="btn bg-lightgray rounded-square p-5 text-center fw-bold royalblue mx-3">
      MY SETS
    </a>
    <a href="{{ url_for('practice.practice') }}" class="btn bg-vividblue rounded-square p-5 text-center fw-bold royalblue mx-3">
      PRACTICE
    </a>
  </div>

</div>
{% endblock %}
